body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #142b17, #142415);
  color: white;
  text-align: center;
}

header {
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #2fbd33;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}